In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt

In [2]:
train=pd.read_csv('train.csv')
train.head()

           ID  Count
0  2011100100    135
1  2011100101     96
2  2011100102    111
3  2011100103    102
4  2011100104     54

In [3]:
test=pd.read_csv('test.csv')
test.head()

           ID  Count
0  2013040100    NaN
1  2013040101    NaN
2  2013040102    NaN
3  2013040103    NaN
4  2013040104    NaN

In [ ]:
sample_sol=pd.read_csv('sample_submission')
sample